<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4" style="font-weight:bold;">Application Reference: {{ form.app_ref["#markup"] }}</div>
    <div class="col-sm-8" style="font-weight:bold;">Customer Name: {{ form.customer_name["#markup"] }}</div>
  </div>
</div>
<br />
<div class="panel panel-default">
    <div class="panel-heading"><b>Visa Information</b></div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">{{ form.country_name }}</div>
                <div class="col-sm-4">{{ form.purpose_travel }}</div>
                <div class="col-sm-4">{{ form.visa_type }}</div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">{{ form.nationality }}</div>
                <div class="col-sm-4">{{ form.urgent_visa }}</div>
                <div class="col-sm-4">{{ form.total_price }}</div>
            </div>
        </div>  
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><b>Passanger Detail Form</b></div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3">
                    {{ form.passanger.name }}
                </div>
                <div class="col-xs-4">
                    {{ form.passanger.father_name }}
                </div>
                <div class="col-xs-5">
                    {{ form.passanger.mother_name }}
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-3">
                    {{ form.passanger.dob }}
                </div>
                <div class="col-xs-4">
                    {{ form.passanger.place_birth }}
                </div>
                <div class="col-xs-5">
                    {{ form.passanger.country_birth }}
                </div>
            </div>
            <br /> 
            <div class="row">
                <div class="col-xs-3">
                    {{ form.passanger.gender }}
                </div>
                <div class="col-xs-4">
                    {{ form.passanger.mar_status }}
                </div>
                <div class="col-xs-5">
                    {{ form.passanger.contact }}
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-3">
                    {{ form.passanger.religion }}
                </div>
                <div class="col-xs-4">
                    {{ form.passanger.spouse }}
                </div>
                <div class="col-xs-5">
                    {{ form.passanger.profession }}
                </div>
            </div>

        </div>  
    </div>
</div>            
<div class="panel panel-default">
    <div class="panel-heading"><b>Passport Detail Form</b></div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3">
                    {{ form.passport.passport_no }}
                </div>
                <div class="col-xs-3">
                    {{ form.passport.passport_issued_date }}
                </div>
                <div class="col-xs-3">
                    {{ form.passport.passport_issued }}
                </div>
                <div class="col-xs-3">
                    {{ form.passport.passport_expired_date }}
                </div>
            </div>
            <br />    
            <div class="row">
                <div class="col-xs-3">
                    <a href="{{ form.passport.photo["#markup"] }}" download>Colour Passport Size photograph</a>
                </div>
                <div class="col-xs-4">
                    <a href="{{ form.passport.passport_first["#markup"] }}" download>Passport First Page</a>
                </div>
                <div class="col-xs-5">
                    <a href="{{ form.passport.passport_last["#markup"] }}" download>Passport Last Page</a>
                </div>
            </div>
            <br />
            <div class="row">
                {% if form.passport.sup_doc_1["#markup"] %}
                    <div class="col-sm-4"><a href="{{ form.passport.sup_doc_1["#markup"] }}" download>Supporting Doc 1</a></div>
                {% endif %}
                {% if form.passport.sup_doc_2["#markup"] %}
                    <div class="col-sm-4"><a href="{{ form.passport.sup_doc_2["#markup"] }}" download>Supporting Doc 2</a></div>
                {% endif %}
                {% if form.passport.ticket["#markup"] %}
                    <div class="col-sm-4"><a href="{{ form.passport.ticket["#markup"] }}" download>Ticket</a></div>
                {% endif %}
            </div>                
        </div>  
    </div>
</div>            
<div class="panel panel-default">
    <div class="panel-heading"><b>Flight Detail Form</b></div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6">
                    {{ form.flight.arrival_from }}
                </div>
                <div class="col-xs-6">
                    {{ form.flight.arrival_date }}
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-6">
                    {{ form.flight.departure_to }}
                </div>
                <div class="col-xs-6">
                    {{ form.flight.departure_date }}
                </div>
            </div>
        </div>  
    </div>
</div>            
<div class="panel panel-default">
    <div class="panel-heading"><b>Address Detail Form</b></div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3">
                    {{ form.address.address_line_1 }}
                </div>
                <div class="col-xs-4">
                    {{ form.address.address_line_2 }}
                </div>
                <div class="col-xs-5">
                    {{ form.address.city }}
                </div>
            </div>
            <br /> 
            <div class="row">
                <div class="col-xs-3">
                    {{ form.address.state }}
                </div>
                <div class="col-xs-4">
                    {{ form.address.country_add }}
                </div>
                <div class="col-xs-5">
                    {{ form.address.zip }}
                </div>
            </div>

        </div>  
    </div>
</div>
{% if form['#express']  %}
    <p><a href="{{ url('evisa.express.visa') }}" class="btn btn-primary" role="button">{{ 'Back to Visa Listing'|t }}</a></p>
{% else %}
    <p><a href="{{ url('evisa.visa') }}" class="btn btn-primary" role="button">{{ 'Back to Visa Listing'|t }}</a></p>
{% endif %} 